@import '../../styles/variables.scss';

.Details {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  width: 100%;

  img {
    width: 10rem;
    height: 12rem;
    border-radius: $container-border-radius;
    box-shadow: 0 0 10px $secondary-color-700;
  }

  .Titles {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;

    .FullName {
      font-size: 2.7rem;
      font-weight: 600;
    }
  
    .Title {
      font-size: 1.5rem;
  
      .WebDeveloperContainer {
        color: $secondary-color-800;
        font-weight: 600;
      }
    }
  }
}
