@import './variables.scss';

@mixin media-query($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content
  }
}

@mixin set-animation($animation-delay) {
  animate-delay: $animation-delay;
  -webkit-animation-delay: $animation-delay;
  -moz-animation-delay: $animation-delay;
}
