@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

$primary-color-900: #1c1a1a;
$primary-color-800: #3d3a3a;
$primary-color-700: #5b5858;
$primary-color-600: #6f6c6c;
$primary-color-500: #979494;
$primary-color-400: #b7b4b4;
$primary-color-300: #dbd8d8;
$primary-color-200: #ebe8e8;
$primary-color-100: #f5f1f1;
$primary-color-50: #fcf8f8;

$secondary-color-900: #fd8a00;
$secondary-color-800: #feb500;
$secondary-color-700: #fdcd12;
$secondary-color-600: #fce624;
$secondary-color-500: #f8f729;
$secondary-color-400: #fcfb53;
$secondary-color-300: #f5f56d;
$secondary-color-200: #f8f999;
$secondary-color-100: #fbfcc3;
$secondary-color-50: #feffe7;

$container-border-radius: 10px;
