@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

$primary-color-900: #2a2a33;
$primary-color-800: #4c4c56;

$secondary-color-900: #e66e06;
$secondary-color-800: #dca00d;
