@import '../../styles/variables.scss';

.Main {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .Description {
    flex: 2;
  }

  .Container {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: transparent;
    border: 2px solid $primary-color-800;
    height: 72vh; // TODO: fix height according to full height of container
  }
}
