@import '../../styles/variables.scss';

.About {
  display: flex;
  align-items: center;
  font-size: 1.7rem;

  p {
    text-indent: 30px;
    margin: 0;

    span {
      color: $secondary-color-800;
      font-weight: 800;
      font-size: 2;
    }
  }
}
