@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$container-distance: 2rem;

.AppContainer {
  position: relative;
  padding: 12rem 20rem 8rem;
  color: $primary-color-50;
  background-color: $secondary-color-50;
  height: 100vh;

  .CenterContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $container-distance;
    padding: 0 !important;
    background-color: transparent;
    border: none;
  }

  .TopContainer, .BottomContainer {
    display: flex;
    flex-direction: row;
  }

  .TopContainer {
    height: 30%;
  }

  .BottomContainer {
    height: 70%;
  }

  .Details {
    flex: 2;
  }

  .About {
    flex: 3;
    margin: 0 $container-distance;
    
    @include set-animation(.3s);
  }

  .Contacts {
    flex: 1;

    @include set-animation(.5s);
  }

  .Skills {
    flex: 3;
    margin-right: $container-distance;

    @include set-animation(.7s);

  }

  .Experience {
    flex: 4;
    
    @include set-animation(.9s);
  }
}
